{% extends template %}

{% block title %} Cartridges {% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Помогите нам сделать наше предприятие лучше и пишите Ваши предложения сюда:</h1>
        <hr>

        {{ form_start(orderForm) }}

        {{ form_row(orderForm.sender, {attr: { value : app.user.username } }) }}
        <br>

        {{ form_label(orderForm.category, 'Категория улучшения') }}
        {{ form_row(orderForm.category) }}
        <br>

        {{ form_label(orderForm.suggestion, 'Опишите Ваше предложение') }}
        {{ form_row(orderForm.suggestion) }}
        <br>

        {{ form_end(orderForm) }}

    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}