{% extends '@App/layoutUser.html.twig' %}

{% block title %} departure order page {% endblock %}

{% block body %}


    <div class="starter-template">
        <h1>Заявка на выезд:</h1>
        <hr>
        <br>

        {{ form_start(orderForm) }}

        {{ form_row(orderForm.district, {attr: { value : app.user.username } }) }}
        <br>

        {{ form_label(orderForm.reason, 'Укажите причину заявки на выезд') }}
        {{ form_row(orderForm.reason) }}
        <br>

        {{ form_end(orderForm) }}
        <br>
        <hr>
        <a class="" href="{{ path('cartridge_list') }}">Информация по моделям картриджей</a><br>
        <a class="" href="{{ path('printer_list') }}">Информация по моделям принтеров</a>

    </div>


{% endblock %}