{% extends '@App/layoutAdmin.html.twig' %}
{% block title %} Grid {% endblock %}
{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="starter-template">

<h2>{{ param }}</h2>


    </div>
    <div class="container2">
        {% if buttonHandBook is defined %}
            <a href="{{ path('add_handbook_row') }}"> <button> {{ buttonHandBook }} </button></a>
        {% endif %}
        {% if buttonSrvPass is defined %}
            <a href="{{ path('add_srvpass_row') }}"> <button> {{ buttonSrvPass }} </button></a>
        {% endif %}
        {% if buttonWebAccPass is defined %}
            <a href="{{ path('add_webaccountpass_row') }}"> <button> {{ buttonWebAccPass }} </button></a>
        {% endif %}
        {% if buttonMailPass is defined %}
            <a href="{{ path('add_webinterfacepass_row') }}"> <button> {{ buttonMailPass }} </button></a>
        {% endif %}

        <hr>
        {{ grid(grid, _self) }}
        <hr>
        {# {{ grid_search(grid) }}#}
        {% block grid_filters %}{% endblock %}
    </div>

    {% block javascripts %}
        <script>
            // Динамический тайтл
            function First() {
                $('title').text('Новая заявка!')
            };

            function Second() {
                $('title').text('Проверьте!')
            };

            function Third() {
                First();
                setTimeout('Second()', 1000)
            };

            function Intrvl() {
                setInterval('Third()', 2000)
            };


            //полная функция запуска
            var orderCount = {output: 1};

            function Ajax(orderCount) {
                $(document).ready(function () {
                    that = $(this);
                    $.ajax({
                        url: '{{ (path('ajax')) }}',
                        type: "POST",
                        dataType: "json",
                        data: {"some_var_name": "some_var_value"},
                        async: true,
                        cache: false,
                        success: function (data) {
                            if (orderCount.output !== data.output) {
                                console.log(orderCount.output);
                                console.log(data.output);

                                var intID = setInterval('Third()', 2000);

                                //Записать в сессию js data.output

                                orderCount.output = data.output;
                                console.log(orderCount.output);
                                /*if(location.pathname == "/admin/grid/RepairOrder"){
                                    alert("111");
                                    clearInterval(intID);
                                }*/

                            } else {
                                orderCount.output = 2;
                                console.log(orderCount.output);
                                clearInterval(intID);
                                return false;
                            }
                        }
                    });
                    return false;
                });
            }

            $(document).ready(setInterval('Ajax(orderCount)', 5000));
            //проверка работа фронт сессии





            /*$(document).ready(function(){
                var a = location.pathname;
                alert(a);
            });*/

        </script>
    {% endblock %}

{% endblock %}
{% block stylesheets %}
    <style>
    </style>
{% endblock %}