{% extends '@App/layoutAdmin.html.twig' %}
{% block title %} Grid {% endblock %}
{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="starter-template">
        <h2>{{ param }}</h2>
    </div>
    <div class="container2">
        <hr>
        {{ grid(grid, _self) }}
        <hr>
        {# {{ grid_search(grid) }}#}
        {% block grid_filters %}{% endblock %}
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
    </style>
{% endblock %}