{% extends template %}

{% block title %} Cartridge order page {% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Заявка на транспорт:</h1>
        <hr>
        <br>

      {{ form_start(orderForm) }}


      {{ form_row(orderForm.sender, {attr: { value : app.user.username } }) }}
      <br>

      {{ form_label(orderForm.district, 'Укажите район выезда') }}
      {{ form_row(orderForm.district) }}
      <br>


        {{ form_row(orderForm.publishedAt) }}
      {{ form_label(orderForm.reason, 'Укажите причину заявки на выезд') }}

      <br>

      {{ form_end(orderForm) }}
        <br>
        <hr>


    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
{% endblock %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}