{% extends template %}

{% block title %} avto order page {% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Заявка на транспорт:</h1>
        <hr>
        <br>

        {{ form_start(orderForm) }}


        {{ form_row(orderForm.sender, {attr: { value : app.user.username } }) }}
        <br>

        {{ form_label(orderForm.district, 'Укажите район выезда') }}
        {{ form_row(orderForm.district) }}
        <br>

        {{ form_label(orderForm.address, 'Укажите адрес') }}
        {{ form_row(orderForm.address) }}
        <br>

        {{ form_label(orderForm.reason, 'Укажите цель выезда') }}
        {{ form_row(orderForm.reason) }}
        <br>

        {{ form_label(orderForm.departureDate, 'Укажите дату выезда') }}
        {{ form_row(orderForm.departureDate) }}
        <br>

        {{ form_end(orderForm) }}
        <br>
        <hr>


    </div>
{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}