{% extends '@App/layoutUser.html.twig' %}

{% block title %} Cartridge page {% endblock %}

{% block body %}

   <h1>Оформить заявку на картриджи</h1>
   

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


<<<<<<< HEAD:src/AppBundle/Resources/views/service/cartridgesOrder.twig
    <a class="" href="{{ path('cartridge_list') }}">Справка по моделям картриджей</a> <br>
    <a class="" href="{{ path('printer_list') }}">Справка по моделям принтеров</a>
=======
    <a class="" href="{{ path('cartridge_list') }}">Информация по моделям картриджей</a><br>
    <a class="" href="{{ path('printer_list') }}">Информация по моделям принтеров</a>
>>>>>>> 5a61c887ab83f254b61498dde1ac8abd7877dad1:src/AppBundle/Resources/views/service/cartridges.twig

{% endblock %}