{% extends '@App/layout.html.twig' %}

{% block title %} Cartridge page {% endblock %}

{% block body %}

   <h1>Оформить заявку на картриджи</h1>
   

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <a class="" href="{{ path('cartridge_list') }}">Информация по моделям картриджей</a><br>
    <a class="" href="{{ path('printer_list') }}">Информация по моделям принтеров</a>

{% endblock %}