{% extends '@App/layoutUser.html.twig' %}

{% block title %} Service {% endblock %}

{% block body %}

{#
    {% for service_id,service in services %}
        <a href="{{ path('service_item', { id: service_id}) }}"> {{ service }}</a> <br>
    {% endfor %}#}


    {#{% for service_id,service in services %}
        <a href="{{ path('service_item', { id: service_id}) }}"> {{ service }}</a> <br>
    {% endfor %}#}

    <a href="{{ path('service_cartridge') }}"> Заявка на картриджи</a> <br>
    <a href="{{ path('service_repair') }}"> Заявка на ремонт техники</a> <br>
    <a href="{{ path('service_consultation') }}"> Заявка на консультацию</a> <br>
    <a href="{{ path('service_departure') }}"> Заявка на выезд</a> <br>
    <a href="#"> Другое</a> <br>

{% endblock %}