{% extends template %}

{% block title %} Printer page {% endblock %}

{% block body %}


    <h1>Принтер: {{ printer.printerModel }}</h1>
    <hr>
    Комментарий :{{ printer.discription }}

    <h1>Картридж: {{ printer.printerModel }}</h1>
    <hr>
    Подходящие модели картриджей:{#{{ cartridge.printModel }}#}<br>
    Комментарий :{#{{ cartridge.discription }}#}





{% endblock %}